.calendar-title {
  font-size: 2.2em;
  margin: 30px auto;
}

.calendar-block {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}

.calendar-grid {
  grid-template-columns: repeat(7, 1fr);
  display: grid;
  background: #AAAAAA;
  gap: 1px;
  flex-grow: 1;
  font-size: 18px;
}

.calendar-element {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  font-family: var(--display-font);
  background-color: #FFFFFF;
  color: var(--dark-text-color);
  text-align: left;
  position: relative;
  min-width: 0;
  min-height: 0;
  overflow-x: visible;
}

.dark-background .calendar-element {
  background-color: var(--dark-background-color);
  color: var(--bright-text-color);
}

.calendar-element.current-day {
  background-color: var(--element-accent-color);
  color: var(--element-text-color);
}

.calendar-element.top-bar {
  width: 100%;
  height: 30px;
  padding-bottom: 0;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 1em;
}

.calendar-element-label {
  display: block;
  padding: 3px 5px;
}

.calendar-element-label.dummy {
  opacity: 0.5;
}

.calendar-switch-button {
  display: block;
  width: 50px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.calendar-switch-button:hover,
.calendar-switch-button:focus {
  background-color: transparent;
  transform: scale(1.2);
}

.arrow-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  border-bottom: 3px solid var(--dark-accent-color);
  border-left: 3px solid var(--dark-accent-color);
  transform: rotate(45deg) skew(10deg, 10deg);
}

.arrow-icon.left {
  transform: rotate(45deg) skew(10deg, 10deg);
  transform-origin: 50% 100%;
}
.arrow-icon.right {
  transform: rotate(-135deg) skew(10deg, 10deg);
  transform-origin: 40% 60%;
}

.calendar-element-event {
  color: var(--element-text-color);
  background-color: var(--element-accent-color);
  text-transform: uppercase;
  width: 100%;
  max-width: 100%;
  padding: 3px 5px;
  display: block;
  margin-bottom: 3px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 8px #FFFFFF99;
  transition: transform 0.3s ease;
}

.calendar-element-event.dummy {
  background-color: transparent;
  height: 27px;
}
.calendar-element-event.dummy.height-1 {
  height: 27px;
}
.calendar-element-event.dummy.height-2 {
  height: 54px;
}
.calendar-element-event.dummy.height-3 {
  height: 81px;
}

.calendar-element-event.pink {
  color: #FFFFFF;
  background-color: #A4005A;
}
.calendar-element-event.magenta {
  color: #FFFFFF;
  background-color: #52002D;
}
.calendar-element-event.dark-blue {
  color: #FFFFFF;
  background-color: #003852;
}
.calendar-element-event.blue {
  color: #FFFFFF;
  background-color: #0071A4;
}
.calendar-element-event.turquoise {
  color: #FFFFFF;
  background-color: #00ABAE;
}
.calendar-element-event.yellow {
  color: #232323;
  background-color: #FFED00;
}
.calendar-element-event.grey {
  color: #FFFFFF;
  background-color: #555555;
}

.dark-background .calendar-element-event {
  box-shadow: 0px 0px 8px #00000077;
}

.calendar-element-event:hover,
.calendar-element-event:focus {
  transform: scale(1.1);
}

.calendar-element-event.expanded,
.calendar-element-event.expanded[span="2"],
.calendar-element-event.expanded[span="3"],
.calendar-element-event.expanded[span="4"],
.calendar-element-event.expanded[span="5"],
.calendar-element-event.expanded[span="6"],
.calendar-element-event.expanded[span="7"] {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 5px 8px;
  white-space: normal;
  box-shadow: 0px 0px 20px #00000077;
  z-index: 104;
}

.calendar-element-event.expanded:hover,
.calendar-element-event.expanded:focus {
  transform: scale(1);
}

.calendar-element-event.expanded[span="1"] {
  width: 200%;
  max-width: 200%;
  left: -50%;
}

.calendar-element-event[span="2"] {
  width: 200%;
  max-width: 200%;
  position: relative;
  z-index: 100;
}

.calendar-element-event[span="3"] {
  width: 300%;
  max-width: 300%;
  position: relative;
  z-index: 100;
}

.calendar-element-event[span="4"] {
  width: 400%;
  max-width: 400%;
  position: relative;
  z-index: 100;
}

.calendar-element-event[span="5"] {
  width: 500%;
  max-width: 500%;
  position: relative;
  z-index: 100;
}

.calendar-element-event[span="6"] {
  width: 600%;
  max-width: 600%;
  position: relative;
  z-index: 100;
}

.calendar-element-event[span="7"] {
  width: 700%;
  max-width: 700%;
  position: relative;
  z-index: 100;
}

.calendar-element-event .additional-info {
  display: none;
  text-transform: none;
  width: 100%;
  height: auto;
  white-space: normal;
}

.calendar-element-event.expanded .additional-info {
  display: block;
  position: relative;
  z-index: 100;
}
.calendar-element-event .additional-info .subtitle {
  display: block;
  margin-bottom: 5px;
}

.calendar-element-event .additional-info * {
  font-size: 14px;
  font-family: var(--primary-font);
  margin: 0;
  line-height: 100%;
  width: 100%;
}

.calendar-element-event .additional-info br {
  display: none;
}

.calendar-element-event .additional-info .events-page-link,
.calendar-element-event.default .additional-info .events-page-link {
  background-image: linear-gradient(var(--element-text-color) 0%, var(--element-text-color) 100%);
  display: inline-block;
  padding: 2px 1px;
  width: auto;
  color: inherit;
}
.calendar-element-event.pink .additional-info .events-page-link,
.calendar-element-event.magenta .additional-info .events-page-link,
.calendar-element-event.dark-blue .additional-info .events-page-link,
.calendar-element-event.blue .additional-info .events-page-link,
.calendar-element-event.turquoise .additional-info .events-page-link,
.calendar-element-event.grey .additional-info .events-page-link {
  background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 100%);
}
.calendar-element-event.yellow .additional-info .events-page-link {
  background-image: linear-gradient(#232323 0%, #232323 100%);
}

.calendar-element-event .additional-info .events-page-link:hover,
.calendar-element-event .additional-info .events-page-link:focus,
.calendar-element-event.default .additional-info .events-page-link:hover,
.calendar-element-event.default .additional-info .events-page-link:focus {
  color: var(--element-accent-color);
  text-decoration: none;
}
.calendar-element-event.pink .additional-info .events-page-link:hover,
.calendar-element-event.pink .additional-info .events-page-link:focus {
  color: #A4005A;
}
.calendar-element-event.magenta .additional-info .events-page-link:hover,
.calendar-element-event.magenta .additional-info .events-page-link:focus {
  color: #52002D;
}
.calendar-element-event.dark-blue .additional-info .events-page-link:hover,
.calendar-element-event.dark-blue .additional-info .events-page-link:focus {
  color: #003852;
}
.calendar-element-event.blue .additional-info .events-page-link:hover,
.calendar-element-event.blue .additional-info .events-page-link:focus {
  color: #0071A4;
}
.calendar-element-event.turquoise .additional-info .events-page-link:hover,
.calendar-element-event.turquoise .additional-info .events-page-link:focus{
  color: #00ABAE;
}
.calendar-element-event.grey .additional-info .events-page-link:hover,
.calendar-element-event.grey .additional-info .events-page-link:focus {
  color: #555555;
}
.calendar-element-event.yellow .additional-info .events-page-link:hover,
.calendar-element-event.yellow .additional-info .events-page-link:focus {
  color: #FFED00;
}

.calendar-blur {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 0;
  z-index: 103;
  visibility: hidden;
  -webkit-backdrop-filter: blur(0px) brightness(1);
  backdrop-filter: blur(0px) brightness(1);
  transition: visibility 0s 0.3s ease, backdrop-filter 0.3s 0s ease, -webkit-backdrop-filter 0.3s 0s ease, height 0s 0.3s ease;
}

.calendar-blur.visible {
  height: 0;
  visibility: hidden;
}

#calendar.loading::after {
  content: '';
	display: block;
  margin: 0 auto;
	width: 90%;
  padding-bottom: 77%;
  height: auto;
  background-color: #CCCCCC;
  background-image: linear-gradient(#FFFFFF 5%, transparent 5%), linear-gradient(90deg, #FFFFFF 5%, transparent 5%);
  background-size: 14.2% 16.6%;
	position: relative;
	animation: opacity-pulse 2s infinite;
}

.dark-background #calendar.loading::after {
	background-color: #555555;
  background-image: linear-gradient(var(--dark-background-color) 5%, transparent 5%), linear-gradient(90deg, var(--dark-background-color) 5%, transparent 5%);
}

#calendar.loading .calendar-block,
#calendar.loading .calendar-title {
  display: none;
}



@media only screen and (max-width: 1250px) {
  .arrow-icon {
    width: 30px;
    height: 30px;
  }

  .calendar-switch-button {
    width: 40px;
  }

  .calendar-element.top-bar {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1000px) {
  .calendar-blur.visible {
    height: 100%;
    visibility: visible;
    -webkit-backdrop-filter: blur(10px) brightness(0.5);
    backdrop-filter: blur(10px) brightness(0.5);
    transition: visibility 0s 0s ease, backdrop-filter 0.3s 0s ease, -webkit-backdrop-filter 0.3s 0s ease, height 0s 0s ease;
  }

  .calendar-element-event {
    display: inline-block;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .calendar-element-event[span="2"],
  .calendar-element-event[span="3"],
  .calendar-element-event[span="4"],
  .calendar-element-event[span="5"],
  .calendar-element-event[span="6"],
  .calendar-element-event[span="7"] {
    display: block;
  }

  .calendar-element-event.dummy {
    margin: 0;
    width: 100%;
    display: block;
    height: 22px;
  }
  .calendar-element-event.dummy.height-1 {
    height: 22px;
  }
  .calendar-element-event.dummy.height-2 {
    height: 45px;
  }
  .calendar-element-event.dummy.height-3 {
    height: 68px;
  }

  .calendar-element-event.extension {
    min-width: 100%;
    border-radius: 0;
    margin: 0 0 3px 0;
    display: block;
  }

  .calendar-element-event.extension.expanded {
    min-width: 0;
  }

  .calendar-element-event .title {
    display: none;
  }

  .calendar-element-event.expanded .title {
    display: inline;
  }

  .calendar-element-event.expanded,
  .calendar-element-event.expanded[span="1"],
  .calendar-element-event.expanded[span="2"],
  .calendar-element-event.expanded[span="3"],
  .calendar-element-event.expanded[span="4"],
  .calendar-element-event.expanded[span="5"],
  .calendar-element-event.expanded[span="6"],
  .calendar-element-event.expanded[span="7"] {
    width: 70%;
    height: auto;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 150px;
    left: 15%;
    padding: 15px;
  }

  .calendar-element-event[span="2"],
  .calendar-element-event[span="3"],
  .calendar-element-event[span="4"],
  .calendar-element-event[span="5"],
  .calendar-element-event[span="6"],
  .calendar-element-event[span="7"] {
    border-radius: 0;
    margin: 0 0 3px 0;
  }
}

@media only screen and (max-width: 750px) {
  .arrow-icon {
    width: 20px;
    height: 20px;
  }

  .calendar-element.top-bar .date-extension {
    display: none;
  }

  .calendar-element-label {
    padding: 0 3px;
    font-size: 0.9em;
  }

  .calendar-switch-button {
    width: 30px;
  }

  .calendar-block {
    width: 110%;
    margin-left: -5%;
  }

  .calendar-element-event {
    width: 12px;
    height: 12px;
    margin: 0 3px 3px 3px;
  }

  .calendar-element-event.dummy {
    height: 14px;
  }
  .calendar-element-event.dummy.height-1 {
    height: 14px;
  }
  .calendar-element-event.dummy.height-2 {
    height: 32px;
  }
  .calendar-element-event.dummy.height-3 {
    height: 50px;
  }

  .calendar-element-event.expanded,
  .calendar-element-event.expanded[span="1"],
  .calendar-element-event.expanded[span="2"],
  .calendar-element-event.expanded[span="3"],
  .calendar-element-event.expanded[span="4"],
  .calendar-element-event.expanded[span="5"],
  .calendar-element-event.expanded[span="6"],
  .calendar-element-event.expanded[span="7"] {
    width: 90%;
    left: 5%;
  }
}
